sentence-transformers
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
-e .
Flask
langchain
langchain-groq
dotenv
requests==2.28.1
